<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>payrolll2.0</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginservlet2</display-name>
    <servlet-name>loginservlet2</servlet-name>
    <servlet-class>loginservlet.loginservlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet2</servlet-name>
    <url-pattern>/loginservlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllowanceServlet</display-name>
    <servlet-name>AllowanceServlet</servlet-name>
    <servlet-class>loginservlet.AllowanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllowanceServlet</servlet-name>
    <url-pattern>/AllowanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeavesServlet</display-name>
    <servlet-name>LeavesServlet</servlet-name>
    <servlet-class>loginservlet.LeavesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeavesServlet</servlet-name>
    <url-pattern>/LeavesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DesignationServlet</display-name>
    <servlet-name>DesignationServlet</servlet-name>
    <servlet-class>loginservlet.DesignationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DesignationServlet</servlet-name>
    <url-pattern>/DesignationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankServlet</display-name>
    <servlet-name>BankServlet</servlet-name>
    <servlet-class>loginservlet.BankServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankServlet</servlet-name>
    <url-pattern>/BankServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeductionServlet</display-name>
    <servlet-name>DeductionServlet</servlet-name>
    <servlet-class>loginservlet.DeductionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeductionServlet</servlet-name>
    <url-pattern>/DeductionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentServlet</display-name>
    <servlet-name>DepartmentServlet</servlet-name>
    <servlet-class>loginservlet.DepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentServlet</servlet-name>
    <url-pattern>/DepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeServlet</display-name>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>loginservlet.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/EmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TotalWorkDaysServlet</display-name>
    <servlet-name>TotalWorkDaysServlet</servlet-name>
    <servlet-class>loginservlet.TotalWorkDaysServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TotalWorkDaysServlet</servlet-name>
    <url-pattern>/TotalWorkDaysServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEmployeeServlet</display-name>
    <servlet-name>ViewEmployeeServlet</servlet-name>
    <servlet-class>loginservlet.ViewEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployeeServlet</servlet-name>
    <url-pattern>/ViewEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAllowanceServlet</display-name>
    <servlet-name>EditAllowanceServlet</servlet-name>
    <servlet-class>loginservlet.EditAllowanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAllowanceServlet</servlet-name>
    <url-pattern>/EditAllowanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDeduction</display-name>
    <servlet-name>EditDeduction</servlet-name>
    <servlet-class>loginservlet.EditDeduction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDeduction</servlet-name>
    <url-pattern>/EditDeduction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAllowanceServlet2</display-name>
    <servlet-name>EditAllowanceServlet2</servlet-name>
    <servlet-class>loginservlet.EditAllowanceServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAllowanceServlet2</servlet-name>
    <url-pattern>/EditAllowanceServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDeductionServlet2</display-name>
    <servlet-name>EditDeductionServlet2</servlet-name>
    <servlet-class>loginservlet.EditDeductionServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDeductionServlet2</servlet-name>
    <url-pattern>/EditDeductionServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBankServlet</display-name>
    <servlet-name>EditBankServlet</servlet-name>
    <servlet-class>loginservlet.EditBankServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBankServlet</servlet-name>
    <url-pattern>/EditBankServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDepartmentServlet</display-name>
    <servlet-name>EditDepartmentServlet</servlet-name>
    <servlet-class>loginservlet.EditDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDepartmentServlet</servlet-name>
    <url-pattern>/EditDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDesignation</display-name>
    <servlet-name>EditDesignation</servlet-name>
    <servlet-class>loginservlet.EditDesignation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDesignation</servlet-name>
    <url-pattern>/EditDesignation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDesignatio</display-name>
    <servlet-name>EditDesignatio</servlet-name>
    <servlet-class>loginservlet.EditDesignatio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDesignatio</servlet-name>
    <url-pattern>/EditDesignatio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditEmployeeServelt</display-name>
    <servlet-name>EditEmployeeServelt</servlet-name>
    <servlet-class>loginservlet.EditEmployeeServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEmployeeServelt</servlet-name>
    <url-pattern>/EditEmployeeServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TwoFAServlet</display-name>
    <servlet-name>TwoFAServlet</servlet-name>
    <servlet-class>loginservlet.TwoFAServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwoFAServlet</servlet-name>
    <url-pattern>/TwoFAServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TwoFACheck</display-name>
    <servlet-name>TwoFACheck</servlet-name>
    <servlet-class>loginservlet.TwoFACheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwoFACheck</servlet-name>
    <url-pattern>/TwoFACheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dummy</display-name>
    <servlet-name>Dummy</servlet-name>
    <servlet-class>loginservlet.Dummy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dummy</servlet-name>
    <url-pattern>/Dummy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logindummy</display-name>
    <servlet-name>logindummy</servlet-name>
    <servlet-class>loginservlet.logindummy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logindummy</servlet-name>
    <url-pattern>/logindummy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServletFinalStage</display-name>
    <servlet-name>LoginServletFinalStage</servlet-name>
    <servlet-class>loginservlet.LoginServletFinalStage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServletFinalStage</servlet-name>
    <url-pattern>/LoginServletFinalStage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditLeaveServlet1</display-name>
    <servlet-name>EditLeaveServlet1</servlet-name>
    <servlet-class>loginservlet.EditLeaveServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditLeaveServlet1</servlet-name>
    <url-pattern>/EditLeaveServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>loginservlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeAllowanceServlet</display-name>
    <servlet-name>EmployeeAllowanceServlet</servlet-name>
    <servlet-class>loginservlet.EmployeeAllowanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeAllowanceServlet</servlet-name>
    <url-pattern>/EmployeeAllowanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditEmployeeAllowance</display-name>
    <servlet-name>EditEmployeeAllowance</servlet-name>
    <servlet-class>loginservlet.EditEmployeeAllowance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEmployeeAllowance</servlet-name>
    <url-pattern>/EditEmployeeAllowance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeDedcutionServlet</display-name>
    <servlet-name>EmployeeDedcutionServlet</servlet-name>
    <servlet-class>loginservlet.EmployeeDedcutionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDedcutionServlet</servlet-name>
    <url-pattern>/EmployeeDedcutionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditEmployeeDeduction</display-name>
    <servlet-name>EditEmployeeDeduction</servlet-name>
    <servlet-class>loginservlet.EditEmployeeDeduction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEmployeeDeduction</servlet-name>
    <url-pattern>/EditEmployeeDeduction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Salary_Slip_Generate</display-name>
    <servlet-name>Salary_Slip_Generate</servlet-name>
    <servlet-class>utility.Salary_Slip_Generate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Salary_Slip_Generate</servlet-name>
    <url-pattern>/Salary_Slip_Generate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeBankServlet</display-name>
    <servlet-name>EmployeeBankServlet</servlet-name>
    <servlet-class>loginservlet.EmployeeBankServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeBankServlet</servlet-name>
    <url-pattern>/EmployeeBankServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditEmployeeBankServlet</display-name>
    <servlet-name>EditEmployeeBankServlet</servlet-name>
    <servlet-class>loginservlet.EditEmployeeBankServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEmployeeBankServlet</servlet-name>
    <url-pattern>/EditEmployeeBankServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateLetterServlet</display-name>
    <servlet-name>GenerateLetterServlet</servlet-name>
    <servlet-class>loginservlet.GenerateLetterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateLetterServlet</servlet-name>
    <url-pattern>/GenerateLetterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditTWDServlet</display-name>
    <servlet-name>EditTWDServlet</servlet-name>
    <servlet-class>loginservlet.EditTWDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTWDServlet</servlet-name>
    <url-pattern>/EditTWDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPasswordServlet</display-name>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <servlet-class>loginservlet.ForgetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <url-pattern>/ForgetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPassOTPVerification</display-name>
    <servlet-name>ForgetPassOTPVerification</servlet-name>
    <servlet-class>loginservlet.ForgetPassOTPVerification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPassOTPVerification</servlet-name>
    <url-pattern>/ForgetPassOTPVerification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPassNewPassServlet</display-name>
    <servlet-name>ForgetPassNewPassServlet</servlet-name>
    <servlet-class>loginservlet.ForgetPassNewPassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPassNewPassServlet</servlet-name>
    <url-pattern>/ForgetPassNewPassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactUs</display-name>
    <servlet-name>ContactUs</servlet-name>
    <servlet-class>utility.ContactUs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUs</servlet-name>
    <url-pattern>/ContactUs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCheckServlet</display-name>
    <servlet-name>LoginCheckServlet</servlet-name>
    <servlet-class>loginservlet.LoginCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheckServlet</servlet-name>
    <url-pattern>/LoginCheckServlet</url-pattern>
  </servlet-mapping>
</web-app>